.car-gallery-item {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.car-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-thumb-wrapper {
  width: 110px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.25rem;
}

.car-thumb-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aspect-ratio-16by9 {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.aspect-ratio-16by9 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
